<!doctype html>
<html ng-app="directoryApp">
	<head>
		<title>Angular JS</title>
		<script src="angular.min.js"></script>
		<script src="directory6.js"></script>
	</head>
	<body ng-controller="directoryController as dirList">
		<input type="text" ng-model="search" name="name" value="">
		<ul>
			<li ng-repeat="item in dirList.list | filter:search ">{{item.name}} <em>{{item.age}}</em></li>
		</ul>
		<form ng-submit="dirList.addPerson()">
			<input type="text" ng-model="dirList.name" value="" placeholder="Name">
			<input type="number" ng-model="dirList.age" value="" placeholder="Age">
			<input type="submit" value="submit">
		</form>
	</body>
</html>

<!--
	controller as is used to remove the usage of $scope
	this is a best practice since if we use multiple controllers, we can very well
		know which controllers are being reffered to
-->
